body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(182, 160, 139);
}

tr:nth-child(even) {
    background-color: aliceblue;
}
